{% extends "layout/layout.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page4.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<!--

-->

<!-- stage -->
<div class="p-2 mb-3">
  <div class="card">
    <div class="card-body p-2 text-center">
      <p class="card-title">상남자 에너지</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row h-100 text-center section">
    <div id="col" class="col-md-12 my-auto">
      
      <div class="card m-2">
        <div class="card-body p-2">
          드디어 마지막 문제다 !

          <br>

          <div class="card-text mt-4" style="font-size: 12px;">
            <p>1. 하뇨와 준뇨는 겨울에 ○○ 먹는 것을 좋아하지</p>
            <p>2. 19년 8월 우린 갑자기 ○○으로 여행을 갔어</p>
            <p>3. 19년 서울 여행 서울역에서 "문화역 서울 ○○○"앞에서 사진을 찍었어</p>
            <p>4. 우리가 2020년 해돋이를 본 장소 ○○○</p>
            <p>5. 21년에 ○○○에 있는 진로 두꺼비 앞에서 사진을 찍었지</p>
            <p>6. 전주 여행때 ○○상회 앞에서 찍은 하뇨 사진</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ super() }}

  <script>
    function updateProgressBar() {
      var percentage = 75;
      var curr = 0
      var update = setInterval(function() {
        if (curr > percentage) {
          clearInterval(update);
        }
        $('.progress-bar').css('width', curr+'%');
        curr++;
      }, 15)
    }
  
    updateProgressBar();
  </script>
{% endblock %}