{% extends "layout/layout.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page3.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<!--

-->

<!-- stage -->
<div class="p-2 mb-3">
  <div class="card">
    <div class="card-body p-2 text-center">
      <p class="card-title">상남자 에너지</p>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row h-100 text-center section">
    <div id="col" class="col-md-12 my-auto">

      <div class="card m-2">
        <div class="card-body">
          <p class="card-title" style="margin-bottom:0">하뇨 준뇨 취향저격 게임 !</p>
          <small class="card-subtitle text-muted" style="font-size:12px;">준뇨의 취향을 맞춰주세요</small>
          
          <div class="mt-3">
            
            <input type="radio" name="a1" id="a1-1" value="1" class="mt-3">
            <label class="form-check-label" for="a1-1">산</label>
            <input type="radio" name="a1" id="a1-2" value="2" style="margin-left: 20px;">
            <label class="form-check-label mb-2" for="a1-2">바다</label><br>

            <input type="radio" name="a2" id="a3-1" value="1" class="mt-3">
            <label class="form-check-label" for="a3-1">민초</label>
            <input type="radio" name="a2" id="a3-2" value="2" style="margin-left: 20px;">
            <label class="form-check-label mb-2" for="a3-2">반민초</label><br>

            <input type="radio" name="a3" id="a3-1" value="1" class="mt-3">
            <label class="form-check-label" for="a3-1">부먹</label>
            <input type="radio" name="a3" id="a3-2" value="2" style="margin-left: 20px;">
            <label class="form-check-label mb-2" for="a3-2">찍먹</label><br>

            <input type="radio" name="a4" id="a4-1" value="1" class="mt-3">
            <label class="form-check-label" for="a4-1">아침</label>
            <input type="radio" name="a4" id="a4-2" value="2" style="margin-left: 20px;">
            <label class="form-check-label mb-2" for="a4-2">저녁</label><br>

            <input type="radio" name="a5" id="a5-1" value="1" class="mt-3">
            <label class="form-check-label" for="a5-1">힙합</label>
            <input type="radio" name="a5" id="a5-2" value="2" style="margin-left: 20px;">
            <label class="form-check-label mb-2" for="a5-2">발라드</label><br>

          </div>

          <div class="d-grid gap-2">
            <button type="button" id="ok3" class="mt-2 btn btn-sm btn-light">입력</button> 
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ super() }}

  <script>
    $('#ok3').on('click', function () {
      var a1 = $("input[name='a1']:checked").val();
      var a2 = $("input[name='a2']:checked").val();
      var a3 = $("input[name='a3']:checked").val();
      var a4 = $("input[name='a4']:checked").val();
      var a5 = $("input[name='a5']:checked").val();

      if (a1 == '2' && a2 == '1' && a3 == '1' && a4 == '2' && a5 =='1') {
        alert('성공! 에너지를 획득합니다');

        location.href = '/4';
      } else {
        alert('실패! 다시 선택해주세요!');
      }
    });
  </script>

  <script>
    function updateProgressBar() {
      var percentage = 50;
      var curr = 0
      var update = setInterval(function() {
        if (curr > percentage) {
          clearInterval(update);
        }
        $('.progress-bar').css('width', curr+'%');
        curr++;
      }, 15)
    }
  
    updateProgressBar();
  </script>
{% endblock %}