{% extends "layout/layout.html" %}
{% block title %}HOME{% endblock %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/lock.css') }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}

<!--

-->

<!-- stage -->
<div class="p-2 mb-3">
  <div class="card">
    <div class="card-body p-2 text-center">
      <p class="card-title">상남자 에너지</p>
      <div class="progress">
        <div id="progress-bar2" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row h-100 text-center section">
    <div id="col" class="col-md-12 my-auto">

      <div class="card m-2">
        <div class="card-body p-2">
          안녕 하뇨!<br>나는 하뇨의 첫 생일 선물을 보호해줬어<br>나는 누구일까?
        </div>
        <div class="card-footer text-center">
          
          <div id="mylock"></div>
          
          <div class="d-grid gap-2">
            <button type="button" id="ok2" class="mt-2 btn btn-sm btn-light" id="ok1">UNLOCK</button> 
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/pages/page1.css') }}">
  <script src="{{ url_for('static', filename='js/lock.min.js') }}"></script>

  <script>
    var lock = new Lock({
      id: 'mylock',
      code: 'BEMO',
      wheels: 4,
      timeout: 300,
      items: ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'O', 'K', 'L', 'M'],
      onchange: (code, isOpen, moves) => {
        console.log(code);
      },
      onopen: (attempts) => {
        alert(`Open in ${attempts} attempts!`);
      }
    });

    $('#ok2').on('click', function() {
      var code = lock.getCode().join("");
      console.log(code);
      if (code == "BEMO") {
        alert('성공! 에너지를 획득합니다');

        location.href = '/3';
      }
    });
  </script>

  <script>
    function updateProgressBar() {
      var percentage = 25;
      var curr = 0
      var update = setInterval(function() {
        if (curr > percentage) {
          clearInterval(update);
        }
        $('.progress-bar').css('width', curr+'%');
        curr++;
      }, 15)
    }
  
    updateProgressBar();
  </script>
{% endblock %}