<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="author" content="xenia101" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- layout CSS -->
    <link
      href="{{ url_for('static', path='css/layout.css') }}"
      rel="stylesheet"
      crossorigin="anonymous"
    />

    <title>TEST</title>
    {% endblock %}
  </head>
  <body>
    {% block content %} 
    
    {% endblock %} 
    
    {% block bottom %}
    <!-- jQuery -->

    {% endblock %}
  </body>
</html>
